.NavigationItem {
    margin: 10px 20px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    color: white;
}

.NavigationItem a {
    color: white;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}
